{% extends "base.html" %}
{% block content %}
<hr>
<h2>IDEAS Center</h2>
<p>
The IDEAS Center at Princeton High School offers students a place to study with the assistance of peer tutors, university students, or teachers. More than 100 peer tutors and Princeton University students volunteer their services to help students in all classes offered at Princeton High School. All peer tutors have received recommendations from teachers for the subject they are tutoring. 
<br><br>
In addition to providing tutoring for classes, the IDEAS Center also provides SAT prep, Study Skills, College Essay and Application help, and Midterm and Finals study groups. 
<br><br>
All services and resources offered by the IDEAS Center are free to Princeton High School students. 
<br><br> 
Drop in for help: Monday-Tuesday-Thursday 4:30pm-5:30pm
<br><br>
<form action="https://princetonk12.zoom.us/j/89953811093?pwd=S292UFFaNXNzNWd1aURXdHh6WXU5QT09">
    <input type="submit" value="Join Zoom Meeting" />
</form>
</p>
{% endblock %}