{% extends "base.html" %}
{% block content %}

<hr>

<h2>Choose Avaliable Times</h2>
<h3>After School (4:30)</h3>
<div class="grid-mini">
    <div class="result-box" onclick="this.classList.toggle('success')">Mon</div>
    <div class="result-box" onclick="this.classList.toggle('success')">Tue</div>
    <div class="result-box" onclick="this.classList.toggle('success')">Thu</div>
</div>
<h3>During Break (Lunch)</h3>
<div class="grid-tiny">
    <div class="result-box" onclick="this.classList.toggle('success')">Mon</div>
    <div class="result-box" onclick="this.classList.toggle('success')">Tue</div>
    <div class="result-box" onclick="this.classList.toggle('success')">Wed</div>
    <div class="result-box" onclick="this.classList.toggle('success')">Thu</div>
    <div class="result-box" onclick="this.classList.toggle('success')">Fri</div>
</div>
<h3>Specific Period</h3>
<div class="grid-tiny">
    <div class="result-box" onclick="this.classList.toggle('success')">1</div>
    <div class="result-box" onclick="this.classList.toggle('success')">2</div>
    <div class="result-box" onclick="this.classList.toggle('success')">3</div>
    <div class="result-box" onclick="this.classList.toggle('success')">4</div>
    <div class="result-box" onclick="this.classList.toggle('success')">5</div>
    <div class="result-box" onclick="this.classList.toggle('success')">6</div>
    <div class="result-box" onclick="this.classList.toggle('success')">7</div>
    <div class="result-box" onclick="this.classList.toggle('success')">8</div>
</div>
<h3>Tiger Time</h3>
<div class="grid-tiny">
    <div class="result-box" onclick="this.classList.toggle('success')">E Day</div>
    <div class="result-box" onclick="this.classList.toggle('success')">F Day</div>
</div>
<h3>Custom</h3>
<p><i>Enter any other times you are available.</i></p>
<input placeholder="Custom Time">
<hr>
<h2>Subject Teacher</h2>
<input placeholder="Subject Teacher (optional)">
{% endblock %}