<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
        <link rel="stylesheet" href="static/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PHS IDEAS Center</title>
    </head>
    <body>
        <br>
        <a href="/"><img src="static/logo2.png" alt="PHS IDEAS Center" width="40%"></a>
        <h2>Princeton High School Ideas Center</h2>
        {% block content %}{% endblock %}
        <br><br><br>
    </body>
</html>