{% extends "base.html" %}
{% block content %}
<form action="log_in" id="log_in" style="position:absolute;top:30px;right:40px"> <!---Change right px to 170 when adding back sign up-->
    <input type="submit" value="Admin Log In" />
</form>
<button id="sign_out" onclick="signOut()" style="position:absolute;top:30px;right:40px">Sign Out</button> <!---Change right px to 170 when adding back sign up-->
<!--
<form action="sign_up" style="position:absolute;top:30px;right:40px">
    <input type="submit" class="button-emphasis" value="Sign Up" />
</form>-->
<div class="grid">
    <div class="box">
        <form method="post">
            <h2>Reach a Tutor</h2>
            <div class="autocomplete">
                <input id="inputProblems" type="text" name="thisClass" placeholder="Class Name">
                </div>
                <script>
                    
                    let courses  = {{ courses|safe }};
                    autocomplete(document.getElementById("inputProblems"), courses);

                    function autocomplete(inp, arr) {
                        /*the autocomplete function takes two arguments,
                        the text field element and an array of possible autocompleted values:*/
                        var currentFocus;
                        /*execute a function when someone writes in the text field:*/
                        inp.addEventListener("input", function(e) {
                            var a, b, i, val = this.value;
                            /*close any already open lists of autocompleted values*/
                            closeAllLists();
                            if (!val) { return false;}
                            currentFocus = -1;
                            /*create a DIV element that will contain the items (values):*/
                            a = document.createElement("DIV");
                            a.setAttribute("id", this.id + "autocomplete-list");
                            a.setAttribute("class", "autocomplete-items");
                            /*append the DIV element as a child of the autocomplete container:*/
                            this.parentNode.appendChild(a);
                            /*for each item in the array...*/
                            for (i = 0; i < arr.length; i++) {
                                const arrVal = arr[i].toLowerCase();
                                const searchVal = val.toLowerCase();
                                if (arrVal.includes(searchVal)) {
                                  const matchStartIndex = arrVal.indexOf(searchVal);
                                  /*create a DIV element for each matching element:*/
                                  b = document.createElement("DIV");
                                  b.className = "autocomplete-item";
                                  /*make the matching letters bold:*/
                                  const text = arr[i].substring(0, matchStartIndex) + "<strong>" + arr[i].substring(matchStartIndex, matchStartIndex+searchVal.length) + "</strong>" + arr[i].substring(matchStartIndex+searchVal.length);
                                  b.innerHTML += text;
                                  /*insert a input field that will hold the current array item's value:*/
                                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                                  /*execute a function when someone clicks on the item value (DIV element):*/
                                      b.addEventListener("click", function(e) {
                                      /*insert the value for the autocomplete text field:*/
                                      inp.value = this.getElementsByTagName("input")[0].value;
                                      /*close the list of autocompleted values,
                                      (or any other open lists of autocompleted values:*/
                                      closeAllLists();
                                  });
                                  a.appendChild(b);
                              }
                            }
                        });
                        /*execute a function presses a key on the keyboard:*/
                        inp.addEventListener("keydown", function(e) {
                            var x = document.getElementById(this.id + "autocomplete-list");
                            if (x) x = x.getElementsByTagName("div");
                            if (e.keyCode == 40) {
                                /*If the arrow DOWN key is pressed,
                                increase the currentFocus variable:*/
                                currentFocus++;
                                /*and and make the current item more visible:*/
                                addActive(x);
                            } else if (e.keyCode == 38) { //up
                                /*If the arrow UP key is pressed,
                                decrease the currentFocus variable:*/
                                currentFocus--;
                                /*and and make the current item more visible:*/
                                addActive(x);
                            } else if (e.keyCode == 13) {
                                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                                e.preventDefault();
                                if (currentFocus > -1) {
                                    /*and simulate a click on the "active" item:*/
                                    if (x) x[currentFocus].click();
                                }
                            }
                        });
                        function addActive(x) {
                            /*a function to classify an item as "active":*/
                            if (!x) return false;
                            /*start by removing the "active" class on all items:*/
                            removeActive(x);
                            if (currentFocus >= x.length) currentFocus = 0;
                            if (currentFocus < 0) currentFocus = (x.length - 1);
                            /*add class "autocomplete-active":*/
                            x[currentFocus].classList.add("autocomplete-active");
                        }
                        function removeActive(x) {
                            /*a function to remove the "active" class from all autocomplete items:*/
                            for (var i = 0; i < x.length; i++) {
                                x[i].classList.remove("autocomplete-active");
                          }
                        }
                        function closeAllLists(elmnt) {
                            /*close all autocomplete lists in the document,
                            except the one passed as an argument:*/
                            var x = document.getElementsByClassName("autocomplete-items");
                            for (var i = 0; i < x.length; i++) {
                                if (elmnt != x[i] && elmnt != inp) {
                                x[i].parentNode.removeChild(x[i]);
                            }
                        }
                    }
                    /*execute a function when someone clicks in the document:*/
                    document.addEventListener("click", function (e) {
                        closeAllLists(e.target);
                      });
                    } 
                    </script>
                </form>
                <table> <!-- I'll make this fancier later on -->
                    <thead>
                        <tr>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>E</th>
                            <th>F</th>
                        </tr>
                    </thead>    
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                </table>
                <input placeholder="Teacher (optional)">
                <br>
                <input type="submit" value="Find" class="button-emphasis">
        </form>
    </div>
    <div class="box">
        <h2>Become a Tutor</h2>
        <button onclick="location.href='select'">Apply</button>
    </div>
</div>
<br>
<div>
    <button>About the Ideas Center</button>
    <button>Contact Dr. Dinan</button>
    <button>SAT and AP Review Resources</button>
</div>

<hr>

<h2>Meet the Tutors</h2>

<div class="grid">
    <div class="box">
        <form method="post">
            <h2>Nick</h2>
            <a><img src="static/nick.jpeg" class="bio-image"></a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </form>
    </div>
    <div class="box">
        <form method="post">
            <h2>Jieruei</h2>
            <a><img src="static/other.jpeg" class="bio-image"></a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </form>
    </div>
    <div class="box">
        <form method="post">
            <h2>Other person</h2>
            <a><img src="static/other.jpeg" class="bio-image"></a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </form>
    </div>
</div>
<br>
<!--<form method="post" action="list">
    <input type="text" name="userid" id="userid" hidden style="display:none"> <!-- very cursed userid transfer --
    <input type="submit" id="catalogue" value="Problem Catalogue">
</form>-->
<button id="public_catalogue" onclick="location.href='public'">Idea Center Resources</button>
<button id="catalogue" onclick="location.href='list'">Upcoming Events</button>
<script>
    function setCookie(cname,cvalue,exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
      
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
      
    function checkCookie() {
        return getCookie("username");
    }

    updateLogInOut();

    function updateLogInOut(){

        thisAdmin = checkCookie();
        //document.getElementById("userid").value = getCookie("userid");

        if ( thisAdmin == "True" ){ // If user is an admin
            document.getElementById("catalogue").style.display = "initial";
        }

        else { // If user is not admin
            document.getElementById("catalogue").style.display = "none";
        }
        
        if ( thisAdmin == "NotIn" || thisAdmin == "" ){ // If user hasn't logged in
            document.getElementById("sign_out").style.display = "none";
            document.getElementById("log_in").style.display = "initial";
        }
        else{ // If user has logged in
            document.getElementById("log_in").style.display = "none";
            document.getElementById("sign_out").style.display = "initial";
        }    
    }

    function signOut(){
        setCookie("username", "NotIn", 30);
        setCookie("userid", "NotIn", 30);
        updateLogInOut();
    }
</script>
{% endblock %}